.weather-card{
    margin: 0 auto;
    width: 80%;
    background-color: #ffffff; /* Opcional: para que destaque */
   border-radius: 10px; /* Bordes redondeados */
   box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* Sombra ligera */
   padding: 20px;
   margin-bottom: 20px;

   transition: transform 0.3s ease, box-shadow 0.3s ease;

}


.weather-card:hover {
    transform: scale(1.05); /* Aumenta 5% */
    box-shadow: 0 8px 20px rgba(0,0,0,0.2); /* Sombra más marcada */
}