:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

header{
  background-color: #4e6d73;
  color: white;
	padding: 20px;
	position: fixed; /*no admite el height*/
  top:0;
  left:0;
  display: flex; /*poner los elementos alineados al lado*/
	align-items: center;
	box-sizing: border-box;
  margin-bottom: 50px;
	width: 100%;
	z-index: 999;
  font-size: 20px;
}

body {
  margin: 0;
  min-height: 100vh; 
  display: flex;
	justify-content: center;
	flex-direction: column; 
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1595661671412-e20c4a3e65cc?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  opacity: 0.3;   /* ← Transparencia SOLO del fondo */
  z-index: -1;    /* Queda detrás del contenido */
}
main{
  margin-top: 70px;
	padding: 30px;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
   color:#4e6d73;
}
p{
  color:#4e585a;
}
h4{
  color:#4e585a;
}
button{
	margin-bottom: 10px;
	background: linear-gradient(90deg, #a4afbc, #4e6d73);
	color: white;
	border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
	transition: transform 0.2s, box-shadow 0.3s;
}
button:hover{
  transform:  scale(1.10);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
li{
list-style-type: none;
}

footer{
   text-align: center;
   margin-top: 40px; 
   padding: 20px;
}
a{
  text-decoration: none;
  color:#4e6d73;
  font-size: 20px;

}
@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547; */
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

